body {
    background-color: #faf0cf;
    color: #333;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

.pageLogo {
    height: 100px;
    width: 100px
}

.timeline {
    background-color: #faf0cf;
    margin-left: 50px;
    font-family: "IBM Plex Serif", Georgia, 'Times New Roman', Times, serif;
    width: 1300px;
    height: 400px
}

.radar {
    margin-left: 50px;
    font-family: "IBM Plex Serif", Georgia, 'Times New Roman', Times, serif;
    width: 500px
}